<div class="container">
  <!-- <h1>All alpacas</h1> -->
  <h3>Over <%= @alpacas.count %> alpacas available</h3>

  <div class="main-container d-flex justify-content-center">
      <div class="cards">
        <% @alpacas.each do |r| %>
          <div>
            <div class="img">
              <%= cl_image_tag r.photo %>
            </div>
            <div>
              <%= r.name %> |
              <%= link_to "Show", alpaca_path(r) %>
              <% if policy(r).edit? %>
              <%= link_to "Edit", edit_alpaca_path(r) %>
              <% end %>
              <% if policy(r).destroy? %>
              <%= link_to "Delete", alpaca_path(r), method: :delete %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>

      <div
        id="map"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      ></div>
  </div>
</div>
