<div class="container">
  <!-- <h1>All alpacas</h1> -->
  <h3>Over <%= @alpacas.count %> alpacas available</h3>

    <% @alpacas.each do |r| %>
    <li><%= r.name %> |
        <%= link_to "ðŸ” Show", alpaca_path(r) %>
        <% if policy(r).edit? %>
          <%= link_to "ðŸ”§ Edit", edit_alpaca_path(r) %>
        <% end %>
        <% if policy(r).destroy? %>
          <%= link_to "ðŸ—‘ Delete", alpaca_path(r), method: :delete %>
        <% end %>
    </li>
    <% end %>

  <br>
  <br>
  <div
    id="map"
    style="width: 100%;
    height: 600px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>
  <br>
</div>
