<div class="container m-auto justify-content-center">

  <div class="main-container d-flex justify-content-between pt-3">
    <div class="cards">
      <% @alpacas.each do |r| %>
        <div class="alpaca-card d-flex border p-3">
          <%= cl_image_tag r.photo, class:"img-thumbnail" %>
          <div class="text-left px-3">
            <br>
            <h2 id="alpaca-name"><strong><%= r.name.upcase %></strong></h2>
            <p><strong>Craziness level:</strong> <%= r.craziness_level %></p>
            <p><strong>Address:</strong> <%= r.address %></p>
            <%= link_to "See more", alpaca_path(r), class: "orange"%>
            <% if policy(r).edit? %>
            <span class="px-2"><%= link_to "Edit", edit_alpaca_path(r), class: "orange" %></span>
            <% end %>
            <% if policy(r).destroy? %>
            <span class="px-2"><%= link_to "Delete", alpaca_path(r), method: :delete, class: "orange" %></span>
            <% end %>
          </div>
          <div class="pricetag">
            <p href=""> <strong> €<%= r.price %></strong></p>
          </div>
        </div>
      <% end %>
    </div>

    <% if @alpacas.empty? %>

      <div class="container text">
        <div class="text-center pt-5">
          <h2>No alpacas found in <%= params[:query] %></h2>
          <p>Please search another city</p>
        </div>
        <form class="form-inline justify-content-center" action="/alpacas">
          <div class="form-group mx-sm-3 mb-2">
            <input id="city-field" type="text" class="form-control" placeholder="Enter a city" name="query">
          </div>
          <button type="submit" class="btn btn-primary mb-2">Search</button>
        </form>
      </div>

      <% else %>
        <div
        id="map"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      ></div>

    <% end %>
  </div>
</div>


