<!-- Alpaca info with picture -->
<div class="bg-white bg-cover border-top">
  <div class="container col-8 p-3">
    <div class="row">
      <div class="col-8 align-text-center">
        <br><h2><strong> <%= @alpaca.name %></strong></h2>
        <p> <%= @alpaca.address %></p>
        <p id="description-2"> <%= @alpaca.description %></p>
      </div>
      <div class="col-4">
        <% if @alpaca.photo.present? %>
        <%= cl_image_tag(@alpaca.photo, class:"img-thumbnail rounded") %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- Alpaca Overview, Location, Description -->

<div class="container col-8 border-top" id="alignment">
  <div class="container">
    <div class="row">
      <div class="col-8">
        <!-- make a card -->
        <div class="card p-3 mb-3 bg-grey">
          <p class="text-left" id="overview"><strong>Overview</strong></p>
          <p class="text-left"><small><strong>Address:</strong><br> <%= @alpaca.address %></small></p>
          <p class="text-left"><small><strong>Age:</strong><br> <%= @alpaca.age %> years old</small></p>
          <p class="text-left"><small><strong>Color:</strong> <br> <%= @alpaca.color.capitalize %></small></p>
          <p class="text-left"><small><strong>Craziness level:</strong><br> <%= @alpaca.craziness_level %> | 1 = relaxed, 2 = normal, 3 = crazy</small></p>
        </div>
        <!-- make a card -->
        <div class="card p-3 mb-3">
          <p class="text-left"><strong>Description</strong></p>
          <p class="text-left"><small><%= @alpaca.description %></small></p>
        </div>
      </div>
        <!-- Shopping cart -->
        <div class="col-4">
          <div class="bg-white border p-3 sticky-top">
            <div class="d-flex justify-content-between mt-3 border-bottom">
               <p><strong id="orange-2">€ <span id="price-tag"><%= @alpaca.price %></span></strong> per day</p>
            </div>
        <!-- Rental period -->
             <%= simple_form_for([@alpaca, @booking]) do |f| %>
              <%= f.error_notification %>
              <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
                <div class="d-flex justify-content-between mt-3 border-bottom">
                  <p>Rental Period</p>
                  <div class="form-inputs">
                    <span id="amount-days"> <%= f.text_field :days, placeholder: "days", class: "form-control" %> </span>
                 </div>
                </div>
                <div class="d-flex justify-content-between mt-3 border-bottom">
                  <p>€ <%= @alpaca.price %> x <span id="insert"></span> days</p>
                  <p>€<span id="total"></span></p>
                </div>
                <div class="d-flex justify-content-between mt-3 border-bottom">
                  <p>Service fee</p>
                  <p>€22</p>
                </div>
                <div class="d-flex justify-content-between mt-3">
                  <p><strong>Total</strong></p>
                  <p>€<span id="total-total"></span> </p>
                </div>
                <div class="form-actions" class="btn btn-primary">
                  <%= f.submit "Book", class: "btn btn-warning mt-1 btn-block" %>
                </div>
              <% end %>
          </div>
            <div class="d-flex justify-content-between pt-3 border-top text-center">
              <p class=""><i>* Rent price per day includes VAT and all fees</i></p>
            </div>
        </div>
    </div>
  </div>
</div>

<div
  class="container"
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>

