<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1539706925993-615886ddcadf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);">
  <div class="container">
    <h3>Change your life. Walk an Alpaca. Today.</h3>
    <p>Explore a wide collection of alpacas worldwide and walk them.</p>
    <a class="btn btn-light my-3" href="#">Walk an alpaca</a>
  </div>
</div>




<!-- Show row of alpacas -->
<div class="container">
    <h1 class="text-center">Alpacas for every occasion</h1>
    <p id="container-p">Select from a wide variety of alpacas in your area. Wild ones, tame ones, crazy ones. We've got something for every taste and occasion.</p>
    <div class="cards-container">
        <% @alpacas.last(4).each do |r| %>
          <div class="card" width: 18rem;>
            <img src="<%= r.photo %>" class="card-img-top" class="d-flex justify-content-between">
            <div class="card-body">
              <h5 class="card-title"><%= r.name %></h5>
          </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><strong>Description: <br></strong> <%= r.description %></li>
              <li class="list-group-item"><strong>Price/day: </strong> <%= r.price %> €</li>
              <li class="list-group-item"><strong>Craziness Level: </strong><%= r.craziness_level %></li>
            </ul>
            <div class="card-body">
              <a href="#" class="card-link"><%= link_to "See more", alpaca_path(r) %></a>
            </div>
          </div>
        <% end %>
    </div>
</div>

<!-- Ready for your Alpaca experience? -->
<div class="alpaca-experience">
  <div class="container justify-content-center">
    <h1>Ready for your Alpaca experience?</h1>
    <p>Book yours today - hassle free, at your terms.</p>
      <%= link_to "Get started", alpacas_path, class: "btn btn-light" %>
  </div>
</div>

<!-- Footer -->
<div class="footer">
    <div class="links">
      <a href="#"><i class="fab fa-fw fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-fw fa-github"></i></a>
      <a href="#"><i class="fab fa-fw fa-twitter"></i></a>
      <a href="#"><i class="fab fa-fw fa-instagram"></i></a>
      <p>This website was coded with alpaca-<i class="fas fa-heart"></i> at Le Wagon.</p>

    </div>
  </div>


